/* Root Color Variables for Light and Dark Mode */
:root {
  --background-light: #ffffff;
  --background-dark: #0a0a0a;
  --foreground-light: #171717;
  --foreground-dark: #ffff;
  --highlight-color: #ffff; /* Golden color */
}

/* Apply Dark Mode Colors for Dark Mode Preferences */
@media (prefers-color-scheme: dark) {
  :root {
    --background-light: #ffffff;
    --foreground-light: #ededed;
  }
}

/* Basic Reset and Box-Sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Font Import */
@font-face {
  font-family: 'Dirtyline36Daysoftype2022';
  src: url('/fonts/Dirtyline36Daysoftype2022-Reg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Syne';
  src: url('/fonts/Syne.ttf') format('truetype');
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'Charrington';
  src: url('/fonts/Charbold.ttf') format('truetype');
  font-weight: 400; /* Regular */
  font-style: normal;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background-light);
  color: #0000;
  transition: background-color 0.5s ease, color 0.5s ease;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Dark Mode Class for Manual Toggling */
.dark-mode {
  background-color: var(--background-dark);
  color: var(--foreground-dark);
}

/* Anchor Tag Reset */
a {
  color: inherit;
  text-decoration: none;
}

/* General styles for the loading screen */
.loading-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000; /* Black background */
  overflow: hidden;
}

/* Video styles */
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

/* Logo and title container */
#logo-and-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

/* Logo styles with zoom-in effect */
.logo {
  width: 150px;
  opacity: 0;
  animation: fade-in 2s ease forwards, zoom-in 2s ease forwards;
}

/* Glow text styles with zoom-in */
.glow-text {
  margin-top: 35vh;
  font-size: 1.8rem;
  color: #ffffff; /* Golden color */
  font-family: 'Dirtyline36Daysoftype2022', sans-serif;
  text-align: center;
  opacity: 0;
  text-transform: lowercase;
  animation: fade-in 2.5s ease forwards 0.5s, zoom-in 2s ease forwards 0.5s, glow-effect 2s infinite ease-in-out 3s;
}

/* Glow effect keyframes */
@keyframes glow-effect {
  0%, 100% {
    text-shadow: 0 0 5px #ffd700, 0 0 10px #ffd700, 0 0 15px #ffae00, 0 0 20px #ffae00, 0 0 25px #ffc700, 0 0 30px #ffc700;
  }
  50% {
    text-shadow: 0 0 10px #ffae00, 0 0 20px #ffd700, 0 0 30px #ffd700, 0 0 40px #ffc700, 0 0 50px #ffd700, 0 0 60px #ffd700;
  }
}

/* Fade-in keyframes */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Zoom-in keyframes */
@keyframes zoom-in {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}


/* Keyframes for fade-in effect */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Keyframes for zoom-in effect */
@keyframes zoom-in {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}


/* Home Page Styles */
.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease;
}

/* Navbar Styles */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
 /* backdrop-filter: blur(10px); */
  background-color: transparent;
  z-index: 10;
}

.navbar .left,
.navbar .middle,
.navbar .right {
  display: flex;
  align-items: center;
}

.navbar .right {
  font-family: 'Dirtyline36Daysoftype2022', sans-serif;
}

/* Toggle Button Styling */
.toggle-button {
  padding: 8px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color:  #000000; /* For better visibility in light mode */
}

.dark-mode .toggle-button {
  color: var(--background-light);
}

/* Hamburger Menu Icon */
.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 18px;
}

.line {
  width: 25px;
  height: 3px;
  background-color: #000000; /* For visibility in light mode */
  margin: 2px 0;
  transition: background-color 0.3s ease;
}

.dark-mode .line {
  background-color: var(--foreground-dark); /* Visibility in dark mode */
}

/* Menu Button Text */
.menu {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.menu span {
  margin-right: 10px;
  font-size: 16px;
  color:  #000000; /* Set color for visibility */
}

.dark-mode .menu span,
.dark-mode .line {
  color: #ffffff; /* Adjust color for dark mode */
}


.menu span {
  margin-right: 10px;
  font-size: 16px;
}

.menu-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  z-index: 100;
}


/* Home Heading */
.home-heading {
  font-family: 'Dirtyline36Daysoftype2022', sans-serif;
  font-size: 6.5rem;
  color: #1A1A1A; /* Light color for light mode */
  text-align: center;
  line-height: 0.8;
  margin-top: 5vh;
}

.dark-mode .home-heading {
  color: var(--highlight-color); /* Highlight color for dark mode */
}
/* Paragraph Styling */
.home-desc {
  font-size: 1rem; /* Minimal font size for readability */
  font-family: 'Syne', serif;
  margin: 10px 20px;
  line-height: 1.5;
  color: #000; /* Default color for light mode */
  text-align: center;
}
/* Responsive Heading Size */
@media (max-width: 764px) {
  .home-heading {
    font-size: 3rem;
    margin-top:15vh;
  }
  .home-desc{
    font-size: 0.8rem;
  }
}



/* Global link and text styles */
a, p {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
}

/* Menu Bar */
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  background: transparent;
}

.menu-bar a, .menu-open p {
  color: #fff;
  cursor: pointer;
}
 

/* Overlay Styles */
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 0 2em;
  background: #cf5;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
  transition: clip-path 0.75s ease-in-out;
}

/* Open state for the overlay */
.menu-overlay.open {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

/* Close button */
.menu-close {
  color: #000;
  cursor: pointer;
}

/* Menu Links */
.menu-links {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.menu-link-item-holder {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.menu-link-item-holder a {
  color: #000;
  font-size: 2em;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 1;
}

.menu-link-item-holder:hover {
  transform: translateY(-5px);
}

/* Info Section */
.menu-info {
  display: flex;
  gap: 2em;
  margin-top: 2em;
  color: #000;
}

.menu-info-col {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

/* Preview section */
.menu-preview {
  margin-top: 3em;
  font-size: 1.2em;
  cursor: pointer;
  color: #000;
  text-align: center;
}

/* Close Icon */
.menu-close-icon {
  display: flex;
  align-items: flex-end;
  font-size: 2em;
  cursor: pointer;
}

/* Responsive Adjustments */
@media (max-width: 764px) {
  .menu-link-item-holder a {
      font-size: 1.5em;
  }
  
  .menu-copy {
      padding-top: 2em;
  }

  .menu-close-icon {
      display: none;
  }
}

@media (max-width: 764px) {
  .menu-link-item-holder a {
      font-size: 1.2em;
  }

  .menu-preview {
      font-size: 1em;
  }
}
/* Menu Overlay */
.menu-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-light);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding:  20px;
  z-index: 100;
  overflow: hidden;
  font-family: 'Arial', sans-serif;
}

.dark-mode .menu-overlay {
  background-color: var(--background-dark);
}

.menu-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-top: 10px;
}

.menu-logo {
  height: 50px;
}

.close-icon {
  font-size: 2rem;
  cursor: pointer;
  color : var(--background-dark)
}
.dark-mode .close-icon {
  color : var(--background-light)
}

.overlay-toggle {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--background-dark);
  font-size: 1.5rem;
}
.dark-mode .overlay-toggle {
  color: var(--background-light);
}
.menu-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.nav-links {
  list-style-type: none;
  font-size: 4rem;
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: 'Dirtyline36Daysoftype2022';
  color : var(--background-dark)
}
.navitem{
  list-style-type: none;
  font-size: 4rem;
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: 'Dirtyline36Daysoftype2022';
  color : var(--background-dark);
  text-transform: lowercase;
  width:80vw;
}
.dark-mode .navitem {
  color:var(--background-light);
}
.dark-mode .nav-links {
  color : var(--background-light);
}
.nav-links li {
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-links li:hover {
  color: #ffd700;
  transform: translate(25px,0);
  transition: transform 0.3s ease;
}
.navitem:hover {
  color: #ffd700;
  transform: translate(25px,0);
  transition: transform 0.3s ease;
}
.dark-mode .navlinks {
  color:var(--background-light);
}
.dark-mode .website-url,
.phone-number {
  color:var(--background-light);
}

.contact-info {
  position: absolute;
  right: 20px;
  bottom: 150px;
  text-align: right;
  color : var(--background-dark)
}
.dark-mode .contact-info {
  color : var(--background-light)
}
.website-url {
  font-size: 1.2rem;
  font-weight: bold;
}
.phone-number {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000000;
}
.dark-mode .phone-number{
  color:#ffffff;
}
.social-links {
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
  width:92vw;
  margin-bottom: 5vh;
}

 .dark-mode .social-media-icon{
  background-color: var(--background-light);
  border-radius: 15px;
 }

@media (max-width : 600px) {
  .nav-links , .navitem {
    font-size: 3rem;
  }
  .contact-info{
    display: none;
  }
   
}


/* Button Styling */
.button-row {
  display: flex;
  gap : 10%;
  justify-content: space-around;
  margin-top: 20px ;
  
}


 
/* Main Container */
.premium-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Cinzel Decorative', serif; /* Elegant serif font */
  position: relative;
  padding: 10px;
  background: transparent; /* Transparent background */
}
@media (max-width:764px){
  .premium-logo{
    padding:0px;
    margin-left:-20px;
  }
}

/* Logo Icon Styling */
.logo-icon {
  background: radial-gradient(circle, #ffdd00, #c1a06b); /* Subtle gradient for elegance */
  padding: 20px;
  border-radius: 50%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  margin-bottom: 15px;
  border: 3px solid rgba(255, 215, 0, 0.9);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Icon Hover Effect */
.logo-icon:hover {
  transform: scale(1.05); /* Slight scale-up on hover */
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

/* Main Logo Text Styling */
.logo-main {
  font-size: 2rem;
  letter-spacing: 3px;
  font-family: 'Playfair Display', serif;
  margin: 0;
  background: linear-gradient(to bottom, black, #2E2E2E); /* Gradient for light mode */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* Keep the text transparent to show the gradient */
  animation: fadeIn 1s ease-in-out; /* Fade-in animation */
  
}

/* Dark Mode Specific Styles */
.dark-mode .logo-main {
  font-size: 2rem;
  letter-spacing: 3px;
  font-family: 'Playfair Display', serif;
  margin: 0;
  background: linear-gradient(to bottom, #ffcc00, #ffd700); /* Gradient for light mode */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* Keep the text transparent to show the gradient */
  animation: fadeIn 1s ease-in-out; /* Fade-in animation */
  text-shadow: 0 0 10px rgba(255, 215, 0, 0.8), /* Gold glow */
               0 0 20px rgba(255, 215, 0, 0.6);
}

 


/* Subtext Styling */
.logo-sub {
  font-size: 0.5rem;
  letter-spacing: 3px;
  color: rgba(255, 223, 0, 0.85); /* Subtle gold shade */
  font-family: 'Lora', serif; /* Premium serif font for subtext */
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
  margin-top: -5px;
  animation: fadeInUp 1.5s ease-in-out;
  background-color: #000;
}

/* Animations */
@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(-10px); }
  100% { opacity: 1; transform: translateY(0); }
}

@keyframes fadeInUp {
  0% { opacity: 0; transform: translateY(10px); }
  100% { opacity: 1; transform: translateY(0); }
}

/* Container for centered content */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}



/* Company Name Styling */
.company-name {
  font-weight: bold;
  color: #cba135; /* Slightly darker gold for distinction */
}

/* Dark Mode Styling for Paragraph */
body.dark-mode .home-desc,
body.dark-mode .company-name {
  color: #fff; /* White text for dark mode */
}

/* Down Arrow Styling */
.down-arrow {
  font-size: 2.5rem;
  margin-top: 5vh;
  cursor: pointer;
  transition: transform 0.3s ease;
  color: #000; /* Default color for light mode */
  display: flex;
  justify-content: center;
  
}

.down-arrow:hover {
  transform: scale(1.1);
}

/* Dark Mode Styling for Down Arrow */
body.dark-mode .down-arrow {
  color: #fff; /* White arrow for dark mode */
}

/* Button Row Container */
.button-row {
  display: flex;
  gap: 40vw;
  margin-top: 25px;
}

/* Button Styling */
.explore-button, .contact-button {
  border: 2px solid #000000; /* Gold border for premium feel */
  background: transparent;
  color: #000000;
  padding: 10px 20px;
  font-size: 1.3rem;
  font-family:  'Syne',serif;
  border-radius: 33px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  padding : 15px;
}
@media (max-width:764px) {
  .button-row {
    gap:20vw;
  }
  .explore-button, .contact-button {
    font-size:1rem;
  }
}

/* Hover effect for buttons */
.explore-button:hover, .contact-button:hover {
   transform: scale(1.1);
   transition: transform 0.3s ease-in-out;
}

 
/* Light Mode Adjustments */
body.light-mode .home-desc, 
body.light-mode .down-arrow,
body.light-mode .explore-button,
body.light-mode .contact-button
{
  color: #000; /* Black text and arrow for light mode */
}

body.dark-mode .explore-button,
body.dark-mode .contact-button{ 
  border: 2px solid #ffffff;
}
/* Dark Mode Adjustments */
body.dark-mode .home-desc, 
body.dark-mode .down-arrow,
body.dark-mode .explore-button,
body.dark-mode .contact-button{
  color: #ffffff; /* White text and arrow for dark mode */
}

/* Our Services Component Styles*/

/* Container */
.services-container {
  padding: 2rem;
  background-color: var(--bg-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  min-height: 100vh; /* Ensures it takes up full viewport height */
  width: 90vw; /* Container takes up 80% of viewport width */
  margin: 0 auto; /* Centers the container */
}
.who-are-we {
  margin: 15vh 0;

}
.who-are-we-head {
  font-size: 8rem; /* Slightly larger font for emphasis */
  margin-bottom: 0.4rem;
  color: var(--background-dark);
  text-transform: lowercase; /* Adds a professional look */
  font-family:'Dirtyline36Daysoftype2022' ;
  line-height: 0.8;
  margin-top : 8vh;
  font-weight: 100;
  letter-spacing: -3pt;
}
.dark-mode .who-are-we-head {
  color: var(--background-light);
}
.who-are-we-subhead {
  color : var(--background-dark);
  font-size:2.2rem;
  font-family: 'Syne',serif;
  margin-bottom: 10px;
  width:50%;

}
.who-are-we-tag {
  color : var(--background-dark);
  font-family: 'Syne',serif;
  text-transform: none;
  font-size: 1.6rem;
  width:50%;
  margin-left:50%;
}
@media(max-width:764px){
  .who-are-we-subhead{
    width:100%;
    font-size: 1.2rem;
  }
  .who-are-we-tag{
    width:100%;
    margin-left: 0%;
    font-size: 1rem;
  }
  .who-are-we-head {
     font-size: 4rem;
     margin-top: 5vh;
     letter-spacing: 1pt;
  }
}
.dark-mode .who-are-we-subhead{
  color:var(--background-light);
}
.dark-mode .who-are-we-tag{
  color:var(--background-light);
}
/* Heading */
.services-heading {
  font-size: 5rem; /* Slightly larger font for emphasis */
  line-height:4rem;
  color: var(--background-dark);
  text-transform: lowercase; /* Adds a professional look */
  font-family:'Dirtyline36Daysoftype2022' ;
  font-weight: 100;
}
.dark-mode .services-heading {
  color: var(--background-light);
}
.dark-mode .services-text-head {
  color: var(--background-light);
}
.dark-mode .services-text-para {
  color: var(--background-light);
}
.dark-mode .services-text-button {
  color: var(--background-light);
  border: 2px solid #ffffff;
}

.our-services-tag {
  color : var(--background-dark);
  font-family: 'Syne' , serif;
  text-transform: none;
  font-size: 1.5rem;
  margin-top: -10px;
}
.dark-mode .our-services-tag  {
  color : var(--background-light);
}
 
.services-card {
  display: flex;
  flex-direction: row; /* Side-by-side layout for image and text */
  width: 100%;
  background-color: var(--card-bg);
  overflow: hidden;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease;
  margin-top:10vh;
  margin-bottom: 5vh;
}
@media (min-width: 764px) {
.services-card:nth-child(4)  {
  flex-direction: row-reverse;
  margin-left : -7vw; /* Image on the right for desktop view */
}
.services-card:nth-child(6)  {
  flex-direction: row-reverse;
  margin-left : -7vw; /* Image on the right for desktop view */
}
}
.services-card:hover {
  transform: scale(1.1); /* Gives an elevation effect */
}

/* Image Section */
.services-image {
  width: 40vw; /* Image takes up 40% of the container width */
  height: auto;
  object-fit:cover;
  transition: transform 0.3s ease; /* Animation for image hover */
  border-radius: 12px;
}

/* Text Section */
.services-text {
  width: 40vw; /* Text section takes up 40% of the container width */
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem; /* Adds spacing between text elements */
}

/* Text Head */
.services-text-head {
  font-size: 1.8rem; /* Larger for better visibility */
  font-weight: 600;
  color: var(--background-dark);
  font-family: 'Dirtyline36Daysoftype2022';
}

/* Text Paragraph */
.services-text-para {
  font-size: 1.2rem;
  line-height: 1.8; /* Improved readability */
  color: var(--background-dark);
  margin-bottom: 1rem;
  list-style-type: none;
  font-family: 'Syne', serif;
}

/* Button */
.services-text-button {
  border: 2px solid #000000; /* Gold border for premium feel */
  background: transparent;
  color: var(--background-dark);
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  font-family:  'Syne',serif;
  border-radius: 33px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  padding : 15px;
  margin-right: auto;
  text-transform: none;

}

.services-text-button:hover {
  background-color: var(--button-hover-bg);
  transform: translateY(-3px); /* Subtle lift effect on hover */
}

/* GSAP Animations */
@media (max-width: 768px) {
  .services-card {
    flex-direction: row; /* Stacks the content vertically on smaller screens */
  }

  .services-image, .services-text {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .services-container {
   
    width: 100vw; /* Container takes up 80% of viewport width */
     
  }
  .our-services-tag {
    font-size: 1.1rem;
  }
  /* Card Layout */
  .services-card {
    flex-direction: column; /* Stack content vertically */
    align-items: center; /* Center the card content */
    margin-top: 2rem; /* Adjust spacing between cards */
    padding: 1rem; /* Add padding for better spacing */
    
  }

  /* Image Section */
  .services-image {
    width: 90%; /* Image takes 90% of the container width */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 1rem; /* Add spacing between image and text */
    border-radius: 12px; /* Rounded corners */
  }

  /* Text Section */
  .services-text {
    width: 100%; /* Text section takes full width */
    padding: 1rem; /* Add padding */
    text-align: center; /* Center-align text for better readability */
    gap: 0.8rem; /* Adjust spacing between text elements */
  }

  /* Heading */
  .services-heading {
    font-size: 4rem; /* Reduce heading size for smaller screens */
    margin-bottom: 1.5rem; /* Adjust spacing below heading */
    line-height: 0.8;
  }

  /* Text Head */
  .services-text-head {
    font-size: 1.3rem; /* Adjust text head size */
    font-weight: bold;
    margin-bottom: 0.8rem; /* Add spacing below text head */
    text-transform: lowercase;
  }

  /* Text Paragraph */
  .services-text-para {
    font-size: 1rem; /* Keep text readable */
    line-height: 1.6; /* Maintain good line spacing */
    margin-bottom: 1rem; /* Add spacing below paragraph */
  }

  /* Button */
  .services-text-button {
    padding: 12px 20px; /* Slightly larger button padding */
    font-size: 1rem; /* Keep font size readable */
    border-radius: 25px; /* Make the button look modern */
    margin: 0 auto; /* Center the button */
    width: auto; /* Ensure button doesn't stretch */
    text-transform: none;
  }
}




 /* Testimonial Component Styles */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* Testimonials container */
.testimonials-container {
  max-width: 1200px; /* Max width for larger screens */
  margin: 0 auto; /* Center the container */
  padding: 40px 20px; /* Add padding around the container */
  background-color: var(--testimonial-container-light); /* Light mode background */
  border-radius: 15px; /* Rounded corners */
  box-shadow: 0 4px 20px var(--shadow-light); /* Light mode shadow */
  transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition */
}
 

/* Heading styles */
.testimonials-heading {
  text-align: left; /* Centered heading */
  font-size: 5rem; /* Font size for heading */
  color: #000000; /* Light mode heading color */
  margin-bottom: 30px; /* Spacing below the heading */
  font-family: 'Dirtyline36Daysoftype2022'; 
  line-height: 4rem;
  font-weight: 100;
}

/* Dark mode heading */

.dark-mode .testimonials-heading{
    color: var(--highlight-color) /* Dark mode heading color */
  }


/* Testimonials wrapper for scrolling */
.testimonials-wrapper {
  display: flex; /* Use flexbox for horizontal layout */
  overflow-x: hidden; /* Enable horizontal scrolling */
  scroll-behavior: smooth; /* Smooth scrolling */
  padding: 10px 0; /* Padding around the wrapper */
  cursor: grab; /* Indicate draggable area */
  width:500%;
}

/* Testimonial card styles */
.testimonial-card {
  flex: 0 0 auto; /* Prevent flex items from shrinking */
  width: 45vw; /* Fixed width for cards */
  margin-right: 20px; /* Spacing between cards */
  padding: 20px; /* Padding inside each card */
  background-color: #ffffff; /* Light mode card */
  border-radius: 10px; /* Rounded corners for cards */
  box-shadow: 0 2px 10px var(--shadow-light); /* Light mode shadow */
  transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s, filter 0.3s; /* Smooth transition */
  position: relative; /* Position for glowing effect */
  border: 2px solid #000000;
  cursor: grab; /* Indicate draggable content */
  user-select: none; /* Prevent text selection while dragging */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

/* Mobile view styles */
@media (max-width: 764px) {
  .testimonial-card {
    flex: 0 0 auto; /* Prevent flex items from shrinking */
    width: 80vw; /* Fixed width for cards */
    margin-right: 20px; /* Spacing between cards */
    padding: 20px; /* Padding inside each card */
    background-color: #ffffff; /* Light mode card */
    border-radius: 10px; /* Rounded corners for cards */
    box-shadow: 0 2px 10px var(--shadow-light); /* Light mode shadow */
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s, filter 0.3s; /* Smooth transition */
    position: relative; /* Position for glowing effect */
    border: 2px solid #000000;
    cursor: grab; /* Indicate draggable content */
    user-select: none; /* Prevent text selection while dragging */
   
  }
  /* Testimonials wrapper for scrolling */
  .testimonials-heading {
    font-size:3.5rem;
    line-height: 3rem;
  }
  .testimonial-text{
    font-size: 1rem;
  }
  
}



.dark-mode  .testimonial-card {
    background-color: var(--testimonial-card-dark); /* Dark mode card */
    box-shadow: 0 2px 10px var(--shadow-dark); /* Dark mode shadow */
    border: 2px solid #ffffff;
  }


/* Testimonial card glow effect */
.testimonial-card:hover {
  transform: translateY(-5px); /* Slight lift on hover */
  filter: drop-shadow(0 0 15px var(--glow-light)); /* Light mode glow */
  border: 2px solid #ffffff;
  background-color: #f0f0f0;
  
}

.dark-mode .testimonial-card:hover {
  background-color: #000000;
}
 


/* Image styles */
.testimonial-image {
  width: 100px;
  height:100px; /* Full width of the card */
  height: auto; /* Auto height to maintain aspect ratio */
  border-radius: 50%; /* Circular images */
  margin-bottom: 15px; /* Spacing below image */
}

/* Name styles */
.testimonial-name {
  font-size: 1.5rem; /* Font size for name */
  font-weight: bold; /* Bold font */
  color: var(--background-dark); /* Light mode name color */
  margin-bottom: 10px; /* Spacing below name */
  text-align: center;
  font-family: 'Syne', serif;
  
}


.dark-mode .testimonial-name {
    color: var(--background-light); /* Dark mode name color */
  }

/* Text styles */
.testimonial-text {
  font-size: 1.5rem; /* Font size for text */
  color: #555; /* Grey color for text */
  margin-bottom: 10px; /* Spacing below text */
  line-height: 1.5; /* Line height for readability */
  font-family: 'Syne',serif;
  text-transform: none;
  text-align: center;
  margin-top:7vh;
  margin-bottom:auto;
}

.dark-mode .testimonial-text {
  color : #FFFFF7;
}
/* Position styles */
.testimonial-position {
  font-size: 0.9rem; /* Smaller font size for position */
  color: #777; /* Lighter grey for position text */ /* Italic style for emphasis */
  text-align: center;
  font-family: 'Syne',serif;

}

/* Dark mode position */
@media (prefers-color-scheme: dark) {
  .testimonial-position {
    color: #aaa; /* Light grey for position in dark mode */
  }
}
/* Mobile view styles */
@media (max-width: 764px) {
  .testimonial-card {
    flex: 0 0 auto; /* Prevent flex items from shrinking */
    width: 80vw; /* Fixed width for cards */
    margin-right: 20px; /* Spacing between cards */
    padding: 20px; /* Padding inside each card */
    background-color: #ffffff; /* Light mode card */
    border-radius: 10px; /* Rounded corners for cards */
    box-shadow: 0 2px 10px var(--shadow-light); /* Light mode shadow */
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s, filter 0.3s; /* Smooth transition */
    position: relative; /* Position for glowing effect */
    border: 2px solid #000000;
    cursor: grab; /* Indicate draggable content */
    user-select: none; /* Prevent text selection while dragging */
   
  }
  /* Testimonials wrapper for scrolling */
  .testimonials-heading {
    font-size:3.5rem;
  }
  .testimonial-text{
    font-size: 1rem;
  }
  
}

.contactSection {
  padding: 80px 0;
  text-align: center;
  transition: background-color 0.4s ease;
  width : 100vw;
}

/* Light and dark themes */
.light {
  background-color: var(--background-light);
  color: var(--background-dark);
}

.dark-mode .contactSection{
  background-color: var(--background-dark);
  color: #ffffff;
}

.innerWidth {
  max-width: 600px;
  margin: auto;
  padding: 0 20px;
}

.contactSection h1 {
  font-size: 20px;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 400;
}

.name,
.email,
.message {
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid currentColor;
  color: inherit;
  padding: 10px 6px;
  font-size: 14px;
  margin-bottom: 40px;
  color : var(--background-dark);
}


.name {
  float: left;
  width: 270px;
}

.email {
  float: right;
  width: 270px;
}

.message {
  min-width: 100%;
  max-width: 100%;
}

.dark-mode .name {
  color : var(--background-light);
}

.dark-mode .email {
  color : var(--background-light);
}

.dark-mode .message {
  color : var(--background-light);
}
 

.dark-mode  .contactSection button {
  border: 2px solid #ffffff;
  color:#ffffff;
}
 
.contactSection button:hover {
  background-color: var(--button-hover-bg);
  transform: scale(1.1);
  transition: transition 0.3 ease;
}
/* Mobile input field */
.mobile {
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid currentColor;
  color: inherit;
  padding: 10px 6px;
  font-size: 14px;
  margin-bottom: 40px;
  color: var(--background-dark);
  width: 100%;
}

/* Dropdown for service selection */
.service {
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #888;
  color: inherit;
  padding: 10px 6px;
  font-size: 14px;
  margin-bottom: 40px;
  color: #888;;
  width: 100%;
  appearance: none;  
  cursor: pointer;
}

/* Dark mode for mobile and service fields */
.dark-mode .mobile,
.dark-mode .service {
  border-bottom: 1px solid #fff;
}
 
/* For mobile responsiveness */
@media screen and (max-width: 600px) {
  .mobile,
  .service {
    width: 100%;
  }
}

/* Toggle button */
.themeToggle {
  margin-top: 20px;
  background: none;
  color: var(--accent-color);
  border: none;
  cursor: pointer;
  font-size: 14px;
  text-decoration: underline;
}


.contact-head {
  font-size: 5rem;
  font-family: 'Dirtyline36Daysoftype2022';
  text-transform: lowercase;
  padding : 5vh 0;
  color : #232b2b;
  letter-spacing: 0.8;
  font-weight: 100;
  line-height: 0.8;
}
@media screen and (max-width: 764px) {
  .name,
  .email {
    width: 100%;
    float: none;
  }
  .contact-head {
    font-size: 3.5rem;
  }
}
.dark-mode .contact-head {
  color : #ffffff;
}
.error {
  color: red;
  font-size: 14px;
  margin-bottom :10px;
}

.success {
  color: green;
  font-size: 14px;
  margin-top :10px;
}


/* Footer Component Styles */
/* Footer Styles */

.footer-head {
  font-family: 'Dirtyline36Daysoftype2022';
  text-transform: lowercase;
  font-size: 5rem;
  text-align: center;
  color:var(--background-dark);
  line-height: 0.8;
  font-weight: 100;
}
.dark-mode .footer-head {
  color : var(--background-light);
}
.footer-container {
  padding: 20px;
  background-color: var(--background-light);
  width:80vw;
  margin-left : 10vw;
}
.dark-mode .footer-container {
  background-color: var(--background-dark);
}
.social-media {
  margin: 10px 0;
}

.social-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-row:hover {
  transform: scale(1.1); /* Scales the component to 110% of its size */
  transition: transform 0.3s ease; /* Smooth transition effect */
}

.social-heading {
  font-size: 5rem;
  color : #0e0e0e; /* LinkedIn color */
  margin: 0;
  font-family: 'poppins' , serif;
  text-transform: capitalize;
}

.dark-mode .social-heading {
  color : #ffffff;
}

.social-icon .icon {
  width: 60px;
  height: 60px;
  background-color: transparent;
}

.divider {
  border: none;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}
/* Mobile view styles */
@media (max-width: 764px) {
  .social-heading {
    font-size: 2rem;
  }
  .social-icon .icon {
    width: 30px;
    height: 30px;
  
  }
  .footer-head {
    font-size: 3.5rem;
  }
}

/* Scrolling Text Component Styles */

.scrolling-text-container {
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background-color: var(--background-light); /* Optional background */
  color: var(--background-dark);
}

.dark-mode .scrolling-text-container {
  background-color: var(--background-dark);
}

.scrolling-text {
  position: relative;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  display: flex; /* Ensures proper alignment */
  align-items: center; /* Centers text vertically */
  
}

.scroll-right,
.scroll-left {
  font-size: 4rem;
  font-weight: bold;
  text-transform: none;
  font-family: 'Dirtyline36Daysoftype2022', sans-serif;
  animation-timing-function: linear;
  animation-iteration-count: infinite; /* Ensures infinite scrolling */
  color:#3F3F3F;
}

.dark-mode .scroll-right{
  color: #EDEADE;
}
.dark-mode .scroll-left{
  color: #EDEADE;
}
/* Right-scrolling text */
.scroll-right {
  animation: scrollRight 1000s linear infinite;
  animation-delay: 3s; /* Delay before the animation starts */
}

/* Left-scrolling text */
.scroll-left {
  animation: scrollLeft 1000s linear infinite;
  animation-delay: 3s; /* Delay before the animation starts */
}

/* Keyframes for left-scrolling text */
@keyframes scrollLeft {
  0% {
    transform: translateX(0); /* Stationary at the start */
  }
  100% {
    transform: translateX(-100%); /* Scroll out of view to the left */
  }
}

/* Keyframes for right-scrolling text */
@keyframes scrollRight {
  0% {
    transform: translateX(0); /* Stationary at the start */
  }
  100% {
    transform: translateX(-100%); /* Scroll out of view to the right */
  }
}
@media (max-width:768px) {
  .scroll-right,
.scroll-left{
  font-size: 2rem;
}
}

/* Stats Container */
.stats-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns */
  gap: 15px; /* Reduced gap between cards */
  justify-items: center; /* Centers items horizontally */
  align-items: start; /* Aligns items at the start vertically */
  margin-top: 10vh;
}

/* Card styling */
.stat-card {
  position: relative; /* For absolute positioning of label */
  width: 40vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  border-radius: 12px;
  color: #1b1b1b;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(0);
  font-family: 'Syne', serif;
  font-weight: bold;
}

.stat-value {
  font-size: 6rem;
  padding-left: 15px;
  font-family: 'Charrington';
   
}

.stat-label {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size:3rem;
  text-align: right;
  font-weight: bolder;
  padding:15px;
  font-family: 'Dirtyline36Daysoftype2022',serif;
  text-transform: lowercase;
}

/* Responsive adjustments for small screens */
@media (max-width: 764px) {
  .stats-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* Reduced gap for small screens */
  }

  .stat-card {
    width: 100%;
    height: 25vh;
  }
  .stat-value{
    font-size: 2rem;
  }
  .stat-label{
    margin-top: 3vh;
    margin-left: 3vw;
    font-size: 2.3rem;
  }
  .stat-card {
    width: 100%;
    height: 35vh;
  }
  .stat-value{
    font-size: 3rem;
  }
}

/* Desktop adjustments to move right cards lower */
@media (min-width: 768px) {
  .stats-container {
    grid-template-columns: 1fr 1fr; /* Two columns layout */
  }

  .stat-card:nth-child(2), .stat-card:nth-child(4) {
    align-self: flex-start; /* Ensures the cards are at the top */
    margin-top: 50px; /* Maintains top space for right cards */
  }
}

 



/* Service Page Component */
.service-page{
  background-color: var(--background-light);
  color:var(--background-dark);
}
.dark-mode .service-page {
  background-color:  var(--background-dark);
  color:var(--background-light);
}

.content-container{
  margin-top:35vh;
  background-color: var(--background-light);
  color:var(--background-dark);
}
.dark-mode .content-container{
  background-color:  var(--background-dark);
  color:var(--background-light);
}
.services-page {
  background-color: var(--background-light);
  color: var(--background-dark);
}

.dark-mode .services-page{
  background-color:  var(--background-dark);
  color:var(--background-light);
}
/* Services Page Heading */
.services-page-heading {
  font-family: "Dirtyline36Daysoftype2022", sans-serif;
  font-size: 5.5rem;
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 3vh;
}

.services-page-service {
  text-align: center;
  margin: 5vh auto;
  width: 80%;
}

.service-page-head {
  font-size: 1.8rem;
  margin-bottom: 5vh;
  font-family: 'Syne' , serif;
  text-transform: none;
  text-align: left;

}
.dark-mode .service-page-head{
  color:var(--background-light)
}

.service-page-text {
  font-size: 1.4rem;
  line-height: 1.6;
  text-transform: none;
  font-family: 'Syne',serif;
  text-align: left;
  width:70%;
  margin-left: auto;

}

.dark-mode .service-page-text{
  color:var(--background-light)
}

@media(max-width:764px){
  .service-page-head {
    font-size:1.3rem;
  }
  .service-page-text{
    font-size: 1rem;
    width:100%;
  }
  .content-container{
    margin-top:20vh;
}
}
.services-extra-container {
  background-color: var(--background-light);
  color: var(--background-dark);
  padding: 5vh 5vw;
  margin: 5vh 3vw;
  border: 2px solid rgba(0, 0, 0, 0.1); /* Adding subtle border */
  border-radius: 12px; /* Rounded corners for a modern look */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 
              0 4px 8px rgba(0, 0, 0, 0.1); /* Enhanced shadow for elevation */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition on hover */
}

.services-extra-container:hover {
  transform: translateY(-5px); /* Slight elevation on hover */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3), 
              0 6px 12px rgba(0, 0, 0, 0.2); /* More pronounced shadow on hover */
}

.services-extra-content {
  margin-bottom: 4vh;
  display: flex;
}

.dark-mode .services-extra-container {
  background-color: var(--background-dark);
  color: var(--background-light);
  border: 2px solid rgba(255, 255, 255, 0.2); /* Subtle border for dark mode */
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2), 
              0 4px 8px rgba(255, 255, 255, 0.1); /* Light shadow for dark mode */
}

.extra-heading {
  font-size: 4rem;
  font-family: "Dirtyline36Daysoftype2022", sans-serif;
  margin-bottom: 2vh;
  width: 50%;
  font-weight: 100;
}

.extra-text,
.extra-text-para {
  font-size: 1.4rem;
  font-family: "Syne", serif;
  text-transform: none;
  margin-left: auto;
  width: 100%;
}

.extra-text-para {
  width: 66%;
  margin-bottom: 10px;
  font-weight: bold;
}
.dark-mode .extra-text-para{
  color:var(--background-light);
}
.dark-mode .extra-text{

    color:var(--background-light);

}
.service-options {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  width: 66%;
  margin-left: auto;
  font-family: 'Syne', serif;
}

.service-options-p {
  width: 45%;
  text-transform: lowercase;
  font-size: 1.2rem;
  text-transform: none;
}

.dark-mode .service-options-p {
  color: var(--background-light);
}

/* Responsive Adjustments */
@media (max-width: 764px) {
  .services-page-heading {
    font-size: 2.5rem;
    margin-top: 2vh;
  }

  .services-page-service {
    width: 90%;
  }

  .service-options {
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    margin-right: auto;
  }

  .services-extra-content {
    display: block;
  }

  .extra-heading {
    font-size: 3.5rem;
  }

  .extra-text-para {
    width: 100%;
  }

  .service-options-p {
    width: 100%;
    text-align: center;
  }
}

.our-expertise-head{
  font-family: 'Syne',serif;
  text-align: center;
  font-size:6rem;
  margin:20vh 0;

}
/* Wrapper for the scrolling container */
.cardScrollerWrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

/* The main scrolling container */
.cardScroller {
  display: flex;
  animation: scroll-cards 20s linear infinite;
  margin-bottom: 2vh;
}

/* Flexbox for card layout */
.cardScroller .card {
  min-width: 30vw;  /* Adjust based on your design */
  height: 50vh;     /* Adjust based on your design */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;  /* No space between cards */
  border: 1px solid #000000;
  border-radius: 8px;
  box-sizing: border-box;
}
.dark-mode .card{
  border: 1px solid #ffffff;
}
.card{
  margin : 0 10px;
}

/* Centering the image inside each card */
.cardScroller .card .cardImage {
  max-width: 70%;
  max-height: 100%;
  object-fit: contain;
}

/* Animating the scroll */
@keyframes scroll-cards {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
/* Wrapper for the second scrolling container */
.cardScrollerWrapper2 {
  width: 100%;
  overflow: hidden;
  position: relative;
}

/* The main scrolling container for the second wrapper */
.cardScroller2 {
  display: flex;
  animation: scroll-cards-reverse 20s linear infinite; /* Reverse scroll */
  margin-bottom: 2vh;
}

/* Flexbox for card layout */
.cardScroller2 .card {
  min-width: 30vw; /* Adjust based on your design */
  height: 50vh;    /* Adjust based on your design */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0; /* No space between cards */
  border: 1px solid #000000;
  border-radius: 8px;
  box-sizing: border-box;
}

.dark-mode .card {
  border: 1px solid #ffffff;
}

.card {
  margin: 0 10px;
}

/* Centering the image inside each card */
.cardScroller2 .card .cardImage {
  max-width: 70%;
  max-height: 100%;
  object-fit: contain;
}


/* Animating the reverse scroll */
@keyframes scroll-cards-reverse {
  0% {
    transform: translateX(-50%); /* Start from the middle of the duplicated cards */
  }
  100% {
    transform: translateX(0); /* End at the beginning */
  }
}
 


@media(max-width:764px){
  .our-expertise-head{
    font-size: 4rem;
  }
  .cardScroller .card{
    height:20vh;
  }
  .cardScroller2 .card{
    height:20vh;
  }
}

.our-process-heading {
  font-family: 'Dirtyline36Daysoftype2022';
  font-size: 6rem;
  text-align: center;
  text-transform: lowercase;
  line-height: 0.8;
  font-weight: 100;
  margin-top:15vh;
}
.dark-mode .our-process-heading {
  color:var(--background-light);
}
.our-process-text{
  font-size: 1.5rem;
  font-family: 'Syne',serif;
  text-transform: none;
  text-align: center;
  margin: 30px 0px;
  margin-bottom: 15vh;
}
.dark-mode .our-process-text {
  color:var(--background-light);
}
.cardContent {
  font-family: 'Syne',serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.sequenceNumber{
  font-size: 2rem;
}

.cardHeading{
  margin:5vh 0;
  font-size: 1.9rem;
}
.cardDescription{
  text-transform: none;
  font-size: 1.3rem;
}
.dark-mode .cardDescription{
  color:var(--background-light);
} 

/* The main scrolling container */
.cardScroller3 {
  display: flex;
  animation: scroll-cards 20s linear infinite;
  margin-bottom: 2vh;
}
.cardScroller3 .card {
  min-width: 40vw;  /* Adjust based on your design */
  height: 50vh;     /* Adjust based on your design */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;  /* No space between cards */
  border: 1px solid #000000;
  border-radius: 8px;
  box-sizing: border-box;
  margin-bottom:10vh;
}
.dark-mode .card {
  border: 1px solid #ffffff;
}

@media(max-width:764px){
  .our-process-heading{
    font-size: 4rem;
  }
  .our-process-text{
    font-size: 1.2rem;
    }
   
    .cardScroller3 .card {
      width:70vw;
    }
  .sequenceNumber{
    font-size: 1rem;
    display: none;
  }
  .cardHeading{
    font-size: 1rem;
    margin-top: -1vh;
    text-align: center;
  }
  .cardDescription{
    text-transform: none;
    font-size: 0.8rem;
    text-align: center;
    margin-top: -3vh;
  }
  .cardScroller3 .card{
    height: 30vh;
  }
}




.time-to-roar-head{
  font-family:'Dirtyline36Daysoftype2022';
  font-size: 6.5rem;
  text-align: left;
  text-transform: lowercase;
  margin-left: 10vw;
  margin-top: 10vh;
  line-height: 5rem;
}
.dark-mode .time-to-roar-head{
  color:var(--background-light);
}
.time-to-roar {
  text-align: center;
  margin: 20px;
  width:80vw;
  margin-left: 10vw;
  margin-bottom: 20vh;
  
}

.horizontal-line {
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 10px 0;
}

.contact-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

}

.contact-item {
  flex: 1;
  text-align: center;
}

.contact-item small {
  display: block;
  font-size: 1.2rem;
  color: #888;
  margin-bottom: 5px;
  font-family: 'Syne',serif;
  text-transform: none;
}

.contact-item p {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin: 0;
  font-family: 'Syne',serif;
  text-transform: none;
}
.dark-mode .contact-item p{
  color:var(--background-light);
}

@media(max-width:764px){
  .time-to-roar-head{
    font-size: 4rem;
    line-height: 3rem;

  }
  .contact-item small{
    font-size: 0.5rem;
  }
  .contact-item p{
    font-size: 0.6rem;
  }
  .web{
    display: none;
  }

}




.main-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  width:80vw;
  margin-left: 10vw;
}

.sub-container {
  display: flex;
  flex-direction: column; /* Stack content vertically by default */
  align-items: center;
  gap: 20px;
}

 

/* Large Devices Layout */
@media (min-width: 768px) {
  .sub-container {
    flex-direction: row; /* Arrange items in a row for large screens */
    justify-content: space-between;
  }

  .sub-container.reverse {
    flex-direction: row-reverse; /* Reverse row for second sub-container */
  }
}

.text-content {
  flex: 1;
  text-align: left;
   
}

 

.buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.btn-primary,
.btn-secondary {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
@media(max-width:764px){
    .text-content{
      text-align: center;
    }
}

.image-content img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
 
.text-content-head{
  font-family: 'Dirtyline36Daysoftype2022';
  font-size: 3rem;
  font-weight: 100;
  line-height: 3rem;
}
.text-content-para{
  font-family: 'Syne',serif;
  text-transform: lowercase;
  font-size: 1.2rem;
  margin-bottom: 15px;
  text-transform: none;
}
.dark-mode .text-content-para {
  color:var(--background-light);
}